@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-image: url('https://cuteyoru.cdn3.cafe24.com/panorama-city.jpg');
  /*background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);  */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: 'Jua', sans-serif;
}

.App-mydata {
  /*background-image: url('https://cuteyoru.cdn3.cafe24.com/columns.jpg');
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);*/
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100px;
}

.noto {
  font-family: 'Noto Sans KR', sans-serif;
}